html,
body {
    width: 100%;
    background-color: #1f84ff;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

}

.buttons {
    display: flex;
    gap: 20px;
}